@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.h1-flat {
	@apply font-black text-4xl md:text-5xl lg:text-6xl scale-y-90;
}

.h2-flat {
	@apply font-black text-3xl scale-y-90;
}
